<a name="top"></a>

<div id="header_wrap" class="outer">
    <header class="inner">

        <a id="forkme_banner" href="{{ site.repo }}"></a>
        <a id="twitter_banner" href="https://www.twitter.com/{{ site.twitter }}"></a>

        <div class="biohex-logo">
            <a href="{{ site.github.url }}">
                <img class="hexagon" src="https://openschemas.github.io/assets/images/logos/openschemas/logo_hexagon.png" alt="OpenSchemas">
            </a><span style="font-size:60px; padding:30px; position: absolute">OpenSchemas</span>
        </div>
    </header>
</div>
