<div id="mobile_cont">

    <div class="mobile_nav">
        <div class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>

    <div id="mobile_links">
        <p><a href="https://openschemas.github.io" class="link-navbar"><div class="mobile_buttons">Home</div></a></p>
        <p><a href="https://openschemas.github.io/join/" class="link-navbar"><div class="mobile_buttons">Join</div></a></p>
        <p><a href="https://openschemas.github.io/specifications/" class="link-navbar"><div class="mobile_buttons">Specifications</div></a></p>
        <p><a href="https://openschemas.github.io/software/" class="link-navbar"><div class="mobile_buttons">Software</div></a></p>
    </div>

</div>
