<!-- If you edit this file, remember to edit the mobile_navbar.html file as well -->
<div class="trigger">
    <div class="trigger_links">
        <a href="https://openschemas.github.io" role="button" class="btn btn-primary"><i class="fas fa-home"></i> Home</a>
        <a href="https://openschemas.github.io/join/" role="button" class="btn btn-primary">Join</a>
        <div class="btn-group" role="group">
                <button class="btn btn-primary dropdown-toggle" type="button" id="btnCommunity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specifications
                </button>
                <div class="dropdown-menu" aria-labelledby="btnCommunity">
                    <a class="dropdown-item" href="https://openschemas.github.io/specifications/">Current</a>
                </div>
            </div>
        <a href="https://openschemas.github.io/software/" role="button" class="btn btn-primary">Software</a>
    </div>

    {% include mobile_navbar.html %}

</div>
